$red: rgb(226, 106, 106);

section.pizza {
  .innerSection {
    display: flex;
    flex-direction: row;

    .sectionContent {
      width: 100%;

      .pizzaShop {
        margin: 10px 5px;

        button {
          float: right;
          margin: 0;
        }
      }
    }

    @media (min-width: 1024px) {
      .sectionContent {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
      }
    }
    @media (min-width: 1440px) {
      .sectionContent {
        max-width: 1200px;
      }
    }

    .sectionNavigation {
      position: relative;

      .activeList {
        width: 100vw;
        position: absolute;
      }

      .inActiveList {
        width: 60px;
        position: relative;
      }

      .wrapList {
        background-color: #212939;
        height: calc(100vh - 70px);
        overflow: hidden;
        transition: all .5s;

        ul {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 0;

          .toggle {
            cursor: pointer;
            .icon{
              color: white;
              font-size: 20px;
              background: $red;
              text-align: right;
              padding: 2px 10px;
              transition: all .5s;
            }
            .icon:hover{
              background: rgb(240, 52, 52);
              transition: all .5s;
            }
          }

          li {
            list-style: none;
            position: relative;
            width: 100%;

            a {
              position: relative;
              width: 100%;
              transition: all .5s;
              text-decoration: none;
              display: flex;
              font-size: 20px;
              font-family: 'RobotoCondensed-Light';

              .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 25px;
              }

              .title {
                position: relative;
                display: block;
                height: 60px;
                line-height: 60px;
                white-space: nowrap;
              }
            }

            a:hover {
              background-color: #2a3448;
              color: $red;
              transition: all .5s;
            }

            .active-nav {
              color: $red;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 640px){
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 30vw;
  }

  section.pizza .innerSection .sectionNavigation .wrapList{
    height: calc(100vh - 80px);
  }
}
@media (min-width: 1024px){
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 25vw;
  }
}
@media (min-width: 1440px){
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 15vw;
  }
}
