$red: rgb(226, 106, 106);

section.pizza {
  .innerSection {
    display: flex;
    flex-direction: row;

    .sectionContent {
      width: 100%;

      .pizzaShop {
        margin: 10px 5px;
        input{
          margin: 20px 0;
          text-align: center;
        }
        .pagination{
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            margin-top: 10px;
          }
          button {
            color: $red;
            font-size: 16px;
            margin: 0 3px;
          }
            .active{
              display: block;
            }
            .inActive{
              display: none;
            }
        }
        #myPizza{
          margin-top: 50px;
        }
        ul{
          margin: 0;
          padding: 0;
          li{
            list-style: none;
            display: flex;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
            margin: 10px 0;
            .image{
              background: white;
              display: flex;
              align-items: center;
              padding: 0 5px;
              img{
                width: 60px;
                height: 60px;
              }
            }
            .secondText{
              display: none;
            }
            @media (min-width: 640px){
              .secondText{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                p{
                  color: rgb(240, 52, 52);
                }
                button{
                  margin-left: 20px;
                }
              }
            }
            .text{
              padding: 10px;
              width: 100%;
              h5{
                margin: 0;
                padding: 0;
                font-size: 16px;
              }
              p{
                margin: 0;
                padding: 0;
                font-size: 15px;
              }
              .price{
                display: flex;
                justify-content: space-between;
                p{
                  margin-top: 12px;
                  color: rgb(240, 52, 52);
                  font-weight: bold;
                }
                button{
                  font-size: 13px;
                  float: left;
                  margin-top: 10px;
                }
              }
              @media (min-width: 640px){
                .price{
                  display: none;
                }
              }
            }
          }
        }

        button {
          float: right;
          margin: 0;
        }
      }
    }

    @media (min-width: 1024px) {
      .sectionContent {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 40px 0 0;
      }
    }
    @media (min-width: 1440px) {
      .sectionContent {
        max-width: 1200px;
      }
    }

    .sectionNavigation {
      position: relative;

      .activeList {
        width: 100vw;
        position: absolute;
      }

      .inActiveList {
        width: 60px;
        position: relative;
      }

      .wrapList {
        background-color: #212939;
        min-height: 100vh;
        overflow: hidden;
        transition: all .5s;

        ul {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 0;

          .toggle {
            cursor: pointer;
            .icon{
              color: white;
              font-size: 20px;
              background: $red;
              text-align: right;
              padding: 2px 10px;
              transition: all .5s;
            }
            .icon:hover{
              background: rgb(240, 52, 52);
              transition: all .5s;
            }
          }

          li {
            list-style: none;
            position: relative;
            width: 100%;

            a {
              position: relative;
              width: 100%;
              transition: all .5s;
              text-decoration: none;
              display: flex;
              font-size: 20px;
              font-family: 'RobotoCondensed-Light';

              .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 25px;
              }

              .title {
                position: relative;
                display: block;
                height: 60px;
                line-height: 60px;
                white-space: nowrap;
              }
            }

            a:hover {
              background-color: #2a3448;
              color: $red;
              transition: all .5s;
            }

            .active-nav {
              color: $red;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 640px){
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 30vw;
  }

  section.pizza .innerSection .sectionNavigation .wrapList{
    height: calc(100vh - 80px);
  }
}
@media (min-width: 768px){
  section.pizza .innerSection .sectionContent .pizzaShop ul li {
    .image img{
      width: 80px;
      height: 80px;
    }
    .text{
      h5{
        font-size: 17px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
@media (min-width: 1024px){
  section.pizza .innerSection .sectionNavigation .wrapList{
    min-height: 100%;
  }
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 25vw;
  }
  section.pizza .innerSection .sectionContent .pizzaShop .pagination p{
    margin-top: 15px;
  }
  section.pizza .innerSection .sectionContent .pizzaShop ul li {
    .image img{
      width: 100px;
      height: 100px;
    }
    .text{
      h5{
        font-size: 18px;
      }
      p{
        font-size: 17px;
      }
    }
  }
}
@media (min-width: 1440px){
  section.pizza .innerSection .sectionNavigation .activeList {
    width: 15vw;
  }
}
