header{
  background-color: rgba(24,30,42,1);
  padding: 10px 0;
  height: 85px;
  .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      img{
        width: 180px;
        height: auto;
      }
    }
      .navigation{
        display: none;
    }
    .menu-enter {
      opacity: 0;
      transform: scale(0.5);
    }
    .menu-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
    .menu-exit {
      opacity: 1;
    }
    .menu-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }
    .modalMenu{
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.9);
      width: 100%;
      height: 100vh;
      z-index: 9999;
      button{
        color: white;
        font-size: 25px;
        margin: 10px;
        float: right;
        transition: all .6s;
      }
      button:hover,
      button:active{
        color: rgb(246, 71, 71);
        transition: all .6s;
      }
      .navigation{
        display: block;
        margin: 100px 0;
        text-align: center;
        .active-mnu-li{
          color: rgb(246, 71, 71);
        }
        ul{
          margin: 0;
          padding: 0;
          li{
            color: white;
            display: block;
            font-family: 'RobotoCondensed-Regular';
            cursor: pointer;
            font-size: 20px;
            text-transform: uppercase;
            margin: 10px 0;
            transition: all .6s;
            .btn-basket{
              display: none;
            }
          }
          li:hover{
            color: rgb(246, 71, 71);
            transition: all .6s;
          }
        }
      }
    }
  }
}
@media (min-width: 640px) {
  .header-inner .menu{
    .navigation{
      display: block;
      ul{
        li{
          position: relative;
          color: white;
          display: inline-block;
          font-family: 'RobotoCondensed-Regular';
          font-size: 18px;
          line-height: 18px;
          padding: 0 5px;
          cursor: pointer;
          .active-mnu-li{
            color: rgb(246, 71, 71);
          }
          .btn-basket{
            display: inherit;
            font-size: 22px;
          }
        }
        li:before, li:after {
          content: '';
          position: absolute;
          transition: transform .5s ease;
        }
        li:before{
          left: 0;
          bottom: -10px;
          width: 100%;
          height: 2px;
          background: rgb(246, 71, 71);
          transform:  scaleX(0);
        }
        li:hover:before{
          transform: scale(1);
        }
      }
    }
    .btn-basket,
    .btn-mobile-menu{
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .header-inner .menu .navigation ul li {
    font-size: 20px;
    line-height: 20px;
    .btn-basket{
      font-size: 24px;
    }
  }
}

@media (min-width: 1440px) {
  .header-inner .menu .navigation ul li {
    font-size: 22px;
    line-height: 22px;
    padding: 0 10px;
    .btn-basket{
      font-size: 25px;
    }
  }
}
