@import "fonts/condensed/font.css";

$red:rgb(246, 71, 71);

/*
@media (min-width: 640px);
@media (min-width: 768px);
@media (min-width: 1024px);
@media (min-width: 1440px);
 */
body{
  min-width: 320px;
  overflow-x: hidden;
}
a{
  color: white;
  text-decoration: none;
}

html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5{
  font-family: 'RobotoCondensed-Regular';
}
p{
  font-family: 'RobotoCondensed-Light';
}

input[type=text],
input[type=password],
input[type=number]{
  width: 100%;
  padding:10px;
  margin:10px 0;
  border: 0;
  border-bottom:2px solid #181e2a;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.labelError{
  color: $red;
}
input:focus {
  outline: none !important;
  border:1px solid dodgerblue;
}

.bgGrey{
  background-color: #f6f6f6;
  min-height: calc(100vh - 85px);
}

.container{
  padding: 0 20px;
}
@media (min-width: 576px) {
  .container{
    padding: 0 30px;
  }
}
@media (min-width: 768px){
  .container{
    padding: 0 40px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px){
  .container{
    max-width: 1200px;
  }
}

button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'RobotoCondensed-Light';
}

.btn-mobile-menu{
  color: white;
  font-size: 25px;
  transition: all .6s;
}
.btn-mobile-menu:hover,
.btn-mobile-menu:active {
  color: $red;
  transition: all .6s;
}

.btn-basket{
  color: white;
  font-size: 25px;
  transition: all .6s;
}
.btn-basket:hover,
.btn-basket:active {
  color: $red;
  transition: all .6s;
}

.btn-info{
  position: relative;
  z-index: 999;
  display: block;
  font-size: 16px;
  background-color: $red;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 1px $red;
  transition: all .4s;
}
.btn-info:hover,
.btn-info:active{
  background-color: rgb(240, 52, 52);
  box-shadow: 0px 0px 10px 2px rgb(240, 52, 52);
  transition: all .4s;
}

.btn-auth{
  background: radial-gradient(circle, rgba(11,76,79,1) 0%, rgba(24,30,42,1) 100%);
  color: white;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.btn-auth:hover,
.btn-auth:active{
  background: radial-gradient(circle, rgba(14,99,103,1) 0%, rgba(36,44,62,1) 100%);
  transition: all .4s;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.4);
}

.btn-disable{
  background-color: gainsboro;
  transition: all .4s;
  color: black;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.btn-auth:hover,
.btn-auth:active{
  background-color: gainsboro;
  transition: all .4s;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.4);
}
