@import "fonts/condensed/font.css";

$red:rgb(246, 71, 71);

/*
@media (min-width: 640px);
@media (min-width: 768px);
@media (min-width: 1024px);
@media (min-width: 1440px);
 */
body{
  min-width: 320px;
  overflow-x: hidden;
}
a{
  color: white;
  text-decoration: none;
}

.successText{
  color: #5cb85c;
}

html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5{
  font-family: 'RobotoCondensed-Regular';
}
p{
  font-family: 'RobotoCondensed-Light';
}

input[type=text],
input[type=password],
input[type=number]{
  width: 100%;
  padding:10px;
  margin:10px 0;
  border: 0;
  border-bottom:2px solid #181e2a;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.labelError{
  color: $red;
}
input:focus {
  outline: none !important;
  border:1px solid dodgerblue;
}

.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  background: rgba(0,0,0,.9);
  padding: 20px;
  .innerModal{
    padding: 10px;
    background: white;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    h4{
      text-transform: uppercase;
    }
    #close{
      float: right;
      background: none;
      color: red;
      font-size: 20px;
    }
    button{
      background: rgb(34, 167, 240);
      color: white;
      display: block;
      margin: 0 auto;
      padding: 7px 14px;
      transition: all .4s;
    }
    .button:hover,
    .button:active{
      background-color: rgb(25, 181, 254);
      transition: all .4s;
    }
  }
}

.bgGrey{
  background-color: #f6f6f6;
  min-height: calc(100vh - 70px);
}

@media (min-width: 640px){
  .bgGrey{
    min-height: calc(100vh - 80px);
  }
}
.container{
  padding: 0 20px;
}
@media (min-width: 576px) {
  .container{
    padding: 0 30px;
  }
}
@media (min-width: 768px){
  .container{
    padding: 0 40px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px){
  .container{
    max-width: 1200px;
  }
}

.basket-enter {
  opacity: 0;
  transform: scale(0.5);
}

.basket-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.basket-exit {
  opacity: 1;
}

.basket-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modalBasket{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  z-index: 999;
  .basket{
    background: white;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    .order{
      display: flex;
      justify-content: space-between;
      button{
        margin: 10px 0;
      }
    }
    ul{
      margin: 10px 0;
      padding: 0;
      li{
        list-style: none;
        display: flex;
        align-items: center;
        .block{
          display: flex;
          align-items: center;
        }
        img{
          width: 50px;
          height: 50px;
        }
        p{
          font-weight: bold;
        }
        button{
          font-size: 13px;
          display: block;
        }
        .price{
          color: rgb(240, 52, 52);
          min-width: 60px;
        }
        .name{
          min-width: 70px;
          margin: 0 5px;
        }
      }
    }
    #close{
      float: right;
      font-size: 20px;
    }
    h5{
      font-size: 16px;
      margin: 0;
      text-transform: uppercase;
      display: flex;
      svg{
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }
  @media (min-width: 640px){
    .basket{
      width: 400px;
      ul li{
        position: relative;
        button{
          position: absolute;
          right: 0;
        }
      }
    }
  }
  @media (min-width: 1024px){
    .basket{
      width: 600px;
      ul li{
        position: relative;
        .icon img{
          width: 70px;
          height: 70px;
        }
        .name{
          min-width: 100px;
        }
        p{
          font-size: 18px;
        }
        button{
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

section{
  h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
}
@media (min-width: 768px){
  section{
    h3{
      font-size: 19px;
    }
    p{
      font-size: 17px;
    }
  }
}
@media (min-width: 1024px){
  section{
    h3{
      font-size: 20px;
    }
    p{
      font-size: 18px;
    }
  }
}

button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'RobotoCondensed-Light';
  border-radius: 25px;
  text-transform: uppercase;
}

.btn-mobile-menu{
  color: white;
  font-size: 25px;
  transition: all .6s;
}
.btn-mobile-menu:hover,
.btn-mobile-menu:active {
  color: $red;
  transition: all .6s;
}

.btn-basket{
  color: white;
  font-size: 25px;
  transition: all .6s;
}
.btn-basket:hover,
.btn-basket:active {
  color: $red;
  transition: all .6s;
}

.btn-info{
  position: relative;
  z-index: 999;
  display: block;
  font-size: 16px;
  background-color: $red;
  padding: 10px 30px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 1px $red;
  transition: all .4s;
}
.btn-info:hover,
.btn-info:active{
  background-color: rgb(240, 52, 52);
  box-shadow: 0px 0px 10px 2px rgb(240, 52, 52);
  transition: all .4s;
}

.btn-auth{
  background: rgb(11,76,79);
  background: radial-gradient(circle, rgba(11,76,79,1) 0%, rgba(24,30,42,1) 100%);
  color: white;
  display: block;
  font-size: 15px;
  padding: 8px 30px;
  margin: 0 auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.btn-auth:hover,
.btn-auth:active{
  background: rgb(11,76,79);
  background: radial-gradient(circle, rgba(14,99,103,1) 0%, rgba(36,44,62,1) 100%);
  transition: all .4s;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.4);
}

.btn-disable{
  background-color: gainsboro;
  transition: all .4s;
  color: black;
  display: block;
  font-size: 15px;
  padding: 8px 30px;
  margin: 0 auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.btn-auth:hover,
.btn-auth:active{
  background-color: gainsboro;
  transition: all .4s;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.4);
}

.btn{
  font-size: 15px;
  border-radius: 0;
  padding: 8px 12px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
  display: block;
  margin: 10px auto;
  transition: all .4s;
  color: white;
}

.btn-secondary{
  background-color: rgb(34, 167, 240);
}
.btn-secondary:hover,
.btn-secondary:active{
  background-color: rgb(25, 181, 254);
  transition: all .4s;
}

.btn-primary{
  background-color: $red;
}
.btn-primary:hover,
.btn-primary:active{
  background-color: rgb(240, 52, 52);
  transition: all .4s;
}
